*{
    margin: 0;
    padding: 0;
    

}
form{
    border: 120px solid rebeccapurple;
    background:  url ('s.jpg') right no_repeat;
    animation: animates 3s  linear infinite;
}
@keyframes animates{
    100%{
        filter: hue-rotate(360deg);
    }
}
input[type=text],input[type=password]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc ;
  animation:animates 4s linear infinite ;
  box-sizing: border-box;

}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.5;
  }
  .cancelbtn {
    
    width: 100%;
    margin: 8px o;
    padding: 14px 20px;
    background-color: #f44336;
  }
  .container {
    text-align: center;
    margin: 24px 0 12px 0;
    padding: 16px;
  }
  span.psw {
    float: center;
    padding-top: 16px;
  }
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

.cancelbtn {
    width: 100%;
  }
}

